<div ng-controller="HomeController">
	<div class="row" style="height:20px;"></div>
	<div class="row" align="center">
		<div class="col-md-4"></div>
		<div class="col-md-4"><h2>Select Team</h2></div>
	</div>
	<div class="row" style="height:20px;"></div>
	<div class="row" align="center">
		<div class="col-md-4" style="text-align: right"><b>Team 1</b></div>
	 	<div class="col-md-4">
			<select class="form-control" ng-model="inning.team1">
				<option ng-repeat="team1 in firstTeam" value="{{team1.name}}">{{team1.name}}</option>
			</select>
	    </div>
	    <div class="col-md-4">
	    	<button  ng-class="{'btn-primary' : (inning.batting && inning.batting == 'team1')}" class="btn btn-default" type="button" ng-click="changeSelection('team1', 'batting')"><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span>  Batting</button>
	    	<button  ng-class="{'btn-primary' : (inning.bowling && inning.bowling == 'team1')}" class="btn btn-default" type="button" ng-click="changeSelection('team1', 'bowling')"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> Bowling</button>
	    </div>
	    
	</div>
	<div class="row" style="height:20px;"></div>
	<div class="row"  align="center">  
		<div class="col-md-4" style="text-align: right"><b>Team 2</b></div>
		<div class="col-md-4">
		    <select class="form-control" ng-model="inning.team2">
		    	<option ng-repeat="team2 in secondTeam" value="{{team2.name}}">{{team2.name}}</option>
		    </select>
	    </div>
	    <div class="col-md-4">
	    	<button ng-class="{'btn-primary' : (inning.batting && inning.batting == 'team2')}" class="btn btn-default" type="button" ng-click="changeSelection('team2', 'batting')"><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span> Batting</button>
	    	<button ng-class="{'btn-primary' : (inning.bowling && inning.bowling == 'team2')}" class="btn btn-default" type="button" ng-click="changeSelection('team2', 'bowling')"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> Bowling</button>
	    </div>
	</div>
	<div class="row" style="height:50px;"></div>
	<div class="row" align="center">
		<button class="btn btn-primary" type="button" ng-disabled="disableStartButton" ng-click="startMatch()">Let's Start</button>
	</div>
</div>
