<style>
	.glyphicon {
		cursor: pointer;
	}

	.not-favourate {
		color:gray;
	}

	.favourate {
		color:red;
	}
</style>
<div ng-controller="MatchController">
	<div class="row" style="height:20px;">
		<div align="center">
			<h2>{{message}}</h2>
		</div>
	</div>
	<div class="row" align="center">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div class="col-md-8" style="float: right">
				<div class="col-md-3"><span ng-class="{'glyphicon-ice-lolly' : (match.playing == match.teams[0]), 'glyphicon-adjust' : (match.playing != match.teams[0]) }" class="glyphicon" aria-hidden="true" style="margin-top: 30px;position:absolute;" ></span></div> 
				<div class="col-md-6">
					<h2 ng-show="match.teams[0]">{{match.teams[0]}}</h2>
					<div>
						<b ng-if="match.playing == match.teams[0]">{{match.score}}/{{match.wickets}}</b>
						<b ng-if="match.playing != match.teams[0]">{{match.target}}/{{match.fallen}}</b>
					</div>
				</div>
				<div class="col-md-3"><span class="glyphicon glyphicon-king" aria-hidden="true"  style="margin-top: 30px;position:absolute;" ng-class="{'favourate' : match.favourate['team1'], 'not-favourate' : !match.favourate['team1']}" ng-click="updateFavourate('team1')"></span></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-8" style="float: left">
				<div class="col-md-3"><span ng-class="{'glyphicon-ice-lolly' : (match.playing == match.teams[1]), 'glyphicon-adjust' : (match.playing != match.teams[1]) }"  class="glyphicon" aria-hidden="true"  style="margin-top: 30px;position:absolute;"></div> 
				<div class="col-md-6">
					<h2 ng-show="match.teams[1]">{{match.teams[1]}}</h2>
					<div>
						<b ng-if="match.playing == match.teams[1]">{{match.score}}/{{match.wickets}}</b>
						<b ng-if="match.playing != match.teams[1]">{{match.target}}/{{match.fallen}}</b>
					</div>
				</div>
				<div class="col-md-3"><span class="glyphicon glyphicon-king" aria-hidden="true"  style="margin-top: 30px;position:absolute;"  ng-class="{'favourate' : match.favourate['team2'], 'not-favourate' : !match.favourate['team2']}" ng-click="updateFavourate('team2')"></div>
			</div>
		</div>
		<div class="col-md-2"><h2></h2></div>
	</div>
	<div>
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table class="table table-bordered">
				<tr>
					<td><b>Run Scored</b></td>
					<td>
						<div class="row">
							<div class="col-md-3"><span class="glyphicon glyphicon-minus-sign" style="float:right"></span></div>
							<div class="col-md-6"><input class="form-control" type="text" name="runs" ng-model="match.runs"/></div>
							<div class="col-md-3"><span class="glyphicon glyphicon-plus-sign"  style="float:left"></span></div>
						</div>
						<div>&nbsp;</div>
						<div class="row">
							<div class="col-md-3" align="center">
								<div class="btn-group" role="group" aria-label="...">
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'ball')}" ng-click="updateStaus('ball')">Ball</button>

								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'inAir')}" ng-click="updateStaus('inAir')">Ball In Air</button>
								</div>
							</div>
							<div class="col-md-9" align="center">
								<div class="btn-group" role="group" aria-label="...">
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'Wicket')}" ng-click="updateRun('Wicket')">Wicket</button>
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'Wide')}" ng-click="updateRun('Wide')">Wide Ball</button>
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'No')}" ng-click="updateRun('No')">No Ball</button>
								  <button type="button" ng-class="{'btn-primary' : (selectedButton == 'Four')}"  class="btn btn-default" ng-click="updateRun('Four')">Four</button>
								  <button type="button" ng-class="{'btn-primary' : (selectedButton == 'Six')}"  class="btn btn-default" ng-click="updateRun('Six')">Six</button>
							
								  <button type="button" class="btn btn-default" ng-click="updateRun('Update')">Upload</button>
								  <button type="button" class="btn btn-default" ng-click="updateRun('Revert')">Revert</button>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><b>Total Score</b></td>
					<td>
						<div class="row">
							<div class="col-md-3"><span class="glyphicon glyphicon-minus-sign" style="float:right" ng-click="substract('score')"></span></div>
							<div class="col-md-6"><input class="form-control" type="text" name="score" ng-model="match.score"/></div>
							<div class="col-md-3"><span class="glyphicon glyphicon-plus-sign"  style="float:left" ng-click="add('score')"></span></div>
						</div>
						
					</td>
				</tr>
				<tr>
					<td><b>Total Over ({{match.overs}})</b></td>
					<td>
						<div class="row">
							<div class="col-md-3"><span class="glyphicon glyphicon-minus-sign" style="float:right" ng-click="substract('balls')"></span></div>
							<div class="col-md-6"><input class="form-control" type="text" name="overs" ng-model="balls"/></div>
							<div class="col-md-3"><span class="glyphicon glyphicon-plus-sign"  style="float:left" ng-click="add('balls')"></span></div>
						</div>
						
					</td>
				</tr>
				<tr>
					<td><b>Total Wicket</b></td>
					<td>
						<div class="row">
							<div class="col-md-3"><span class="glyphicon glyphicon-minus-sign" style="float:right" ng-click="substract('wickets')"></span></div>
							<div class="col-md-6"><input class="form-control" type="text" name="wickets" ng-model="match.wickets"/></div>
							<div class="col-md-3"><span class="glyphicon glyphicon-plus-sign"  style="float:left" ng-click="add('wickets')"></span></div>
						</div>
						
					</td>
				</tr>

				<tr>
					<td><b>Batting</b></td>
					<td>
						<div class="row" style="padding:5px 10px 5px 10px;">
							<span style="margin-left:5px" ng-repeat="batsman in batsmanList track by $index" class="badge">{{batsman}}</span>
						</div>
						<div class="row">
							<div class="col-md-5"><input class="form-control" type="text" ng-model="match.batsman1"/></div>
							<div class="col-md-1"><span class="glyphicon glyphicon-plus-sign"  style="float:left" ng-click="addBatsman('batsman1')"></span></div>
							<div class="col-md-5"><input class="form-control" type="text" ng-model="match.batsman2"/></div>
							<div class="col-md-1"><span class="glyphicon glyphicon-plus-sign"  style="float:left" ng-click="addBatsman('batsman2')"></span></div>
						</div>
						
					</td>
				</tr>

				<tr>
					<td><b>Bowling</b></td>
					<td>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6"><input class="form-control" type="text" name="wickets" ng-model="match.bowler"/></div>
							<div class="col-md-3"></div>
						</div>
						
					</td>
				</tr>
			</table>
		</div> 
		<div class="col-md-2"></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button class="btn btn-primary" type="button" ng-click="finishInning()">Finish Inning</button>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>