/* ======= Alert Modal ======= */
.alert-modal {
  z-index: 1060;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%);
  -moz-transform: translate(0px, -100%);
  -o-transform: translate(0px, -100%);
  -ms-transform: translate(0px, -100%);
  transform: translate(0px, -100%);
  opacity: 0;
}
.alert-modal .alert-modal-box {
  margin-top: 100px;
  margin-bottom: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.alert-modal .alert-modal-box .alert-modal-box-header {
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #eaeaea;
}
.alert-modal .alert-modal-box .alert-modal-box-header h1 {
  margin-top: 0;
}
.alert-modal .alert-modal-box .alert-modal-box-header h1 .fa {
  margin-right: 10px;
}
.alert-modal .alert-modal-box .alert-modal-box-header .success {
  color: #8fb347;
}
.alert-modal .alert-modal-box .alert-modal-box-header .warning {
  color: #ebac1f;
}
.alert-modal .alert-modal-box .alert-modal-box-header .danger {
  color: #ad3b0e;
}
.alert-modal .alert-modal-box .alert-modal-box-header .error {
  color: #ad3b0e;
}
.alert-modal .alert-modal-box .alert-modal-box-header .info {
  color: #34acdc;
}
.alert-modal .alert-modal-box .alert-modal-box-header .close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #999999;
  opacity: 1;
  padding: 10px 15px;
  font-size: 24px;
}
.alert-modal .alert-modal-box .alert-modal-box-body {
  padding: 20px 20px 0 20px;
}
.alert-modal .alert-modal-box .alert-modal-box-body span {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}
.alert-modal .alert-modal-box .alert-modal-box-footer {
  padding: 20px;
}
.alert-modal .alert-modal-box .alert-modal-box-footer .btn {
  width: 150px;
  margin: 0 10px;
}
.alert-modal.open {
  z-index: 1060;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .alert-modal .alert-modal-box {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* SOME CODE HERE */
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* SOME CODE HERE */
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* SOME CODE HERE */
}
/* ======= Alert Modal Loading ======= */
#alert-loading {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
#alert-loading .loader {
  position: fixed;
  top: 45%;
  left: 50%;
}
#alert-loading.open {
  z-index: 9999;
  opacity: 1;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  /* SOME CODE HERE */
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* SOME CODE HERE */
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* SOME CODE HERE */
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* SOME CODE HERE */
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 9999 !important;
}
.preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
}
