<!--Start Dashboard 2-->
<div class="row-fluid" ng-controller="MatchController">
	
	<div id="dashboard_tabs" class="col-xs-12 col-sm-12">
		<!--Start Dashboard Tab 1-->
		<div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
			<div id="ow-marketplace" class="col-sm-12 col-md-6">
				<div class="box-content">
					<table id="ticker-table" class="table m-table table-bordered table-hover table-heading">
							
							<tr>
								<td>
									<br/>
									<input type="number" class="form-control" ng-model="match.score" ng-blur="addRun(runs)" key-enter="addRun(runs)"/>
									<br/>
									<div class="row action-button-section">
										<div class="col-xs-12">
											<div class="col-xs-8"  style="border-bottom: 1px dashed gray">

												<button 
													type="button" 
													ng-repeat="runs in availableRuns" 
													class="btn btn-space btn-default btn-app-sm" 
													ng-class="{'btn btn-primary btn-app-sm' : hasBeenClicked(runs), 
															   'btn btn-default btn-app-sm' : !hasBeenClicked(runs)}"
													ng-click="addRun(runs)"
													>
													<b>{{runs}}</b>
												</button>
												
											</div>

											<div class="col-xs-4"  style="border-bottom: 1px dashed gray;" align="right">
												<button 
													type="button" 
													class="btn btn-default btn-app-sm"
													ng-class="{'btn btn-primary btn-app-sm' : hasBeenClicked('WB'), 'btn btn-default btn-app-sm' : !hasBeenClicked('WB')}" 
													ng-click="updateRun('Wide')">
													<b>WB</b>
												</button>
												<button 
													type="button" 
													class="btn btn-default btn-app-sm" 
													ng-class="{'btn btn-primary btn-app-sm' : hasBeenClicked('NB'), 'btn btn-default btn-app-sm' : !hasBeenClicked('NB')}" 
													ng-click="updateRun('No')"> 	
												<b>NB</b>
												</button>
												<button 
													type="button" 
													class="btn btn-default btn-app-sm" 
													ng-class="{'btn btn-primary btn-app-sm' : hasBeenClicked('WK'), 'btn btn-default btn-app-sm' : !hasBeenClicked('WK')}"
													ng-click="updateRun('Wicket')"> 	
													<b>WK</b>
												</button>
												<button 
													type="button" 
													class="btn btn-default btn-app-sm" 
													ng-class="{'btn btn-primary btn-app-sm' : hasBeenClicked('BY'), 'btn btn-default btn-app-sm' : !hasBeenClicked('BY')}"
													ng-click="updateRun('bye')"> 	
													<b>BYE</b>
												</button>
												<button 
													type="button" 
													class="btn btn-default btn-app-sm" 
													ng-class="{'btn btn-primary btn-app-sm' : hasBeenClicked('LBY'), 'btn btn-default btn-app-sm' : !hasBeenClicked('LBY')}"
													ng-click="updateRun('Lby')"> 	
													<b>LBYE</b>
												</button>
											</div>
										</div>
										<p>&nbsp;</p>
										<div class="col-xs-12" align="center">
											<div class="col-xs-8">
												<button type="button" 
													class="btn btn-success btn-xs animated" 
													ng-click="updateRun('Update')"
													ng-class="{'btn btn-success btn-xs animated flash infinite':activateUpdateButton, 'btn btn-success btn-xs' : !activateUpdateButton}"
													><i class="fa fa-arrow-up"></i> Upload</button>

												<button type="button" class="btn btn-warning btn-xs" ng-click="updateRun('Cancel')"><i class="fa fa-times"></i> Cancel</button>	

												<button type="button" class="btn btn-danger btn-xs" ng-click="updateRun('Revert')"><i class="fa fa-rotate-left"></i> Revert</button>
											</div>
											<div class="col-xs-4">
												<button type="button" ng-hide="disableFinishButton" class="btn btn-danger btn-xs" ng-click="finishInning()"><i class="fa fa-cloud-upload"></i> Finish</button>

												<button type="button" ng-show="disableFinishButton" class="btn btn-danger btn-xs" ng-click="gotoTeamSelection()"><i class="fa fa-cloud-upload"></i> New Match</button>
											</div>
										</div>
									</div>

									<br/>

									
								</td>
							</tr>
							<tr>
								<td>
									<div class="row action-button-section">
										<div class="col-xs-12">
											<button
												ng-repeat="actionIndex in notSorted(availableActions)" 
												ng-init="actions = availableActions[actionIndex]"
												type="button" 
												class="btn btn-space btn-default btn-xs"
												ng-class="{'btn btn-space btn-primary btn-xs' : (tvButtonStatus == actionIndex),
														   'btn btn-space btn-default btn-xs' : !(tvButtonStatus == actionIndex)}" 
												ng-click="updateTvStatus(actionIndex, actions, 0)">
												<b>{{actions}}</b>
											</button>
										</div>
									</div>
									<br/>
									<div class="row">
										<div class="col-xs-10">
											<p><small>TV Message</small></p>	
											<textarea class="form-control" ng-model="match.currentStatus.OTHER" ng-blur="uploadTvStatus()"></textarea>
										</div>
										<div class="col-xs-2">
											<p><small>&nbsp;</small></p>	
											<button type="button" class="btn btn-success btn-xs" ng-click="uploadTvStatus()">&nbsp;<i class="fa fa-upload"></i>&nbsp;</button>
											<button type="button" class="btn btn-success btn-xs" ng-click="resetTvStatus()">&nbsp;<i class="fa fa-rotate-left"></i>&nbsp;</button>
										</div>
									</div>
									<br/>
									<div class="row action-button-section">
										<div class="col-xs-12">
											<button
												ng-repeat="otherIndex in notSorted(availableOthers)" 
												ng-init="otherActions = availableOthers[otherIndex]"
												type="button" 
												class="btn btn-space btn-default btn-xs"
												ng-class="{'btn btn-space btn-primary btn-xs' : (tvButtonStatus == otherIndex),
														   'btn btn-space btn-default btn-xs' : !(tvButtonStatus == otherIndex)}" 
												ng-click="updateTvStatus(otherIndex, otherActions, 1)">
												<b>{{otherActions}}</b>
											</button>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<br/>
										<div class="row">
											<div class="col-xs-4">
												<p><small><b>Score</b></small></p>	
												<div class="input-group ">
												  <span class="input-group-addon" ng-click="substract('score')"><i class="fa fa-minus"></i></span>
												  <input ng-if="match.playing == match.battingTeam" class="form-control" type="number" name="score" ng-model="match.battingScore" key-enter="updateMatchStatus('battingScore')" ng-blur="updateMatchStatus('battingScore')" ng-change="updateMatchStatus('battingScore')"/>

													<input ng-if="match.playing == match.bowlingTeam" class="form-control" type="number" name="score" ng-model="match.bowlingScore" key-enter="updateMatchStatus('bowlingScore')"  ng-blur="updateMatchStatus('bowlingScore')" ng-change="updateMatchStatus('bowlingScore')"/>	
												  <span class="input-group-addon" ng-click="add('score')"><i class="fa fa-plus"></i></span>
												</div>
											</div>	
											<div class="col-xs-4">
												<p><small><b>Over ({{(match.playing == match.battingTeam) ? match.battingOver : match.bowlingOver}})</b></small></p>	
												<div class="input-group">
												  <span class="input-group-addon" ng-click="substract('balls')"><i class="fa fa-minus"></i></span>
												  	<input type="text" class="form-control" placeholder="Over" ng-model="balls" key-enter="updateMatchStatus('balls')" ng-blur="updateMatchStatus('balls')" ng-change="updateMatchStatus('balls')"/>
												  <span class="input-group-addon" ng-click="add('balls')"><i class="fa fa-plus"></i></span>
												</div>
											</div>
											
											<div class="col-xs-4">
												<p><small><b>Wicket</b></small></p>	
												<div class="input-group">
												  <span class="input-group-addon"  ng-click="substract('wickets')"><i class="fa fa-minus"></i></span>
												  	<input ng-if="match.playing == match.battingTeam" class="form-control" type="number" name="wickets" ng-model="match.battingWickets"  key-enter="updateMatchStatus('battingWickets')"    ng-blur="updateMatchStatus('battingWickets')" ng-change="updateMatchStatus('battingWickets')"/>

													<input ng-if="match.playing == match.bowlingTeam" class="form-control" type="number" name="wickets" ng-model="match.bowlingWickets"  key-enter="updateMatchStatus('bowlingWickets')"   ng-blur="updateMatchStatus('bowlingWickets')" ng-change="updateMatchStatus('bowlingWickets')"/>
												  <span class="input-group-addon"  ng-click="add('wickets')"><i class="fa fa-plus"></i></span>
												</div>
											</div>
										</div>
									<br/>
								</td>
							</tr>


							<tr>
								<td>
									<br/>
										<div class="row">
											
											<div class="col-xs-6">
												<p><small><b>Batsman 1</b></small></p>
												<input type="text" class="form-control" placeholder="Batsman 1" ng-model="batsman1" key-enter="addBatsman('batsman1', 0)" ng-blur="addBatsman('batsman1', 0)"/>
											</div>
											<div class="col-xs-2">
												<p><small><b>Run</b></small></p>
												<input type="number" class="form-control" placeholder="Runs" ng-model="batsman1Run"  key-enter="addBatsman('batsman1', 0)" ng-blur="addBatsman('batsman1', 0)"/>
											</div>
											<div class="col-xs-2">
												<p><small><b>Ball</b></small></p>
												<input type="number" class="form-control" placeholder="Balls" ng-model="batsman1Ball"  key-enter="addBatsman('batsman1', 0)" ng-blur="addBatsman('batsman1', 0)"/>
											</div>
											<div class="col-xs-2">
												<p>&nbsp;</p>
												<button type="button" class="btn btn-success btn-xs" ng-click="addBatsman('batsman1', 0)">&nbsp;<i class="fa fa-upload" ></i>&nbsp;</button>
												<button type="button" class="btn btn-primary btn-xs" ng-click="currentlyBatting({'name':batsman1})">&nbsp;<i class="fa fa-lg" ng-class="{' fa-check-circle' : (match.onStrike.toUpperCase() == batsman1.toUpperCase()),
												'fa-circle' : (match.onStrike.toUpperCase() != batsman1.toUpperCase())}" ></i>&nbsp;</button>
											</div>
										</div>
										<div class="row">
											
											<div class="col-xs-6">
												<p><small><b>Batsman 2</b></small></p>
												<input type="text" class="form-control" placeholder="Batsman 2" ng-model="batsman2" key-enter="addBatsman('batsman2', 1)" ng-blur="addBatsman('batsman2', 1)"/>
											</div>
											<div class="col-xs-2">
												<p><small><b>Run</b></small></p>
												<input type="number" class="form-control" placeholder="Runs" ng-model="batsman2Run"  key-enter="addBatsman('batsman2', 1)" ng-blur="addBatsman('batsman2', 1)"/>
											</div>
											<div class="col-xs-2">
												<p><small><b>Ball</b></small></p>
												<input type="number" class="form-control" placeholder="Balls" ng-model="batsman2Ball"  key-enter="addBatsman('batsman2', 1)" ng-blur="addBatsman('batsman2', 1)"/>	
											</div>
											<div class="col-xs-2">
												<p>&nbsp;</p>
												<button type="button" class="btn btn-success btn-xs" ng-click="addBatsman('batsman2', 1)">&nbsp;<i class="fa fa-upload"></i>&nbsp;</button>
												<button type="button" class="btn btn-primary btn-xs" ng-click="currentlyBatting({'name':batsman2})">&nbsp;<i class="fa fa-lg" ng-class="{' fa-check-circle' : (match.onStrike.toUpperCase() == batsman2.toUpperCase()),
												'fa-circle' : (match.onStrike.toUpperCase() != batsman2.toUpperCase())}" ></i>&nbsp;</button>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-10">
												<p><small><b>Bowler Name</b></small></p>
												<input type="text" class="form-control" placeholder="Name" ng-model="bowler1" key-enter="addBowler('bowler1')" ng-blur="addBowler('bowler1')"/>
											</div>
											
											<div class="col-xs-2">
												<p>&nbsp;</p>
												<button type="button" class="btn btn-success btn-xs" ng-click="addBowler('bowler1')">&nbsp;<i class="fa fa-upload" ></i>&nbsp;</button>
											</div>
										</div>
									<br/>
								</td>
							</tr>
					</table>
				</div>
			</div>


			<div class="col-xs-12 col-md-6">
				<div class="box-content">
					<table class="table m-table table-bordered table-heading">
						<tr>
							<td align="center">
								<br/>
								<div class="row">
									<div class="col-xs-4">
										<img src="public/images/ball.png" class="status-icon" ng-show="(match.playing != match.battingTeam)"/>
										<img src="public/images/bat.png" class="status-icon" ng-show="(match.playing == match.battingTeam)"/>
									</div>
									<div class="col-xs-4">
										<img class="team-icon" ng-show="match.bowlingTeam" ng-src="{{getTeamLog(match.battingTeam)}}" />
										<h2 ng-show="match.battingTeam">{{match.battingTeam}}</h2>
									</div>
									<div class="col-xs-4">
										<button type="button" class="btn btn-app-sm btn-circle" ng-class="{'btn-warning' : (match.battingTeam | isFavourate : match.favouriteTeam), 'fa-default' : !(match.battingTeam | isFavourate : match.favouriteTeam)}"  >
											<i  class="fa fa-star"></i>
										</button>
									</div>
								</div>
								<div align="center">
									<div class="col-md-6" style="float: left">
										<b>{{match.battingScore}}/{{match.battingWickets}}</b>
									</div>
									<div class="col-md-6" style="float: right">
										<b>{{match.battingOver}}</b>
									</div>
								</div>
							</td>
							<td align="center">
								<br/>
								<div class="row">
									<div class="col-xs-4">
										<img src="public/images/ball.png" class="status-icon" ng-show="(match.playing != match.bowlingTeam)"/>
										<img src="public/images/bat.png" class="status-icon" ng-show="(match.playing == match.bowlingTeam)"/>
									</div>
									<div class="col-xs-4">
										<img class="team-icon" ng-show="match.bowlingTeam" ng-src="{{getTeamLog(match.bowlingTeam)}}" />
										<h2 ng-show="match.bowlingTeam">{{match.bowlingTeam}}</h2>
									</div>
									<div class="col-xs-4">
										<button type="button" class="btn  btn-app-sm btn-circle" ng-class="{'btn-warning' : (match.bowlingTeam | isFavourate : match.favouriteTeam), 'btn-default' : !(match.bowlingTeam | isFavourate : match.favouriteTeam)}" >
											<i class="fa fa-star"></i>
										</button>
									</div>
								</div>
								<div align="center">
									<div class="col-md-6" style="float: left">
										<b>{{match.bowlingScore}}/{{match.bowlingWickets}}</b>
									</div>
									<div class="col-md-6" style="float: right">
										<b>{{match.bowlingOver}}</b>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="row">
									<div class="col-xs-3">&nbsp;</div>
									<div class="col-xs-6">
										<p><small><b>Favourite</b></small></p>	
										<select class="form-control" ng-model="favTeam" ng-change="updateFavourite()">
											<option ng-selected="favTeam == favOptions.valuew" ng-repeat="favOptions in favOptionList track by favOptions.id" value="{{favOptions.value}}">{{favOptions.value}}</option>
										</select>
									</div>
									<div class="col-xs-3">&nbsp;</div>
								</div>
							</td>
						</tr>
					</table>
					<table class="table m-table table-bordered table-hover table-heading">		
						<tr>
							<td>
								<div class="row">
										<div class="col-xs-5">
											<p><small><b>Market Rate</b></small></p>	
											<div class="input-group ">
											 
											  	<input type="number" class="form-control" placeholder="Market Rate 1" ng-model="match.markerRateOne"  key-enter="updateMarketRate()" ng-change="updateMarketRate()"  ng-blur="updateMarketRate()"/>
											  
											</div>
										</div>	
										<div class="col-xs-5">
											<p><small><b>Market Rate</b></small></p>	
											<div class="input-group">
											  
											  	<input type="number" class="form-control" placeholder="Market Rate 2" ng-model="match.markerRateTwo"  key-enter="updateMarketRate()" ng-change="updateMarketRate()" ng-blur="updateMarketRate()"/>
											  
											</div>
										</div>
										<div class="col-xs-2">
											<p><small>&nbsp;</small></p>	
											<button type="button" class="btn btn-success btn-xs" ng-click="updateMarketRate()">&nbsp;<i class="fa fa-upload"></i>&nbsp;</button>
										</div>
									</div>
							</td>
						</tr>

						<tr>
							<td>
								<div class="row">
										
										<div class="col-xs-3">
											<p><small><b>Session Min Score</b></small></p>	
											<div class="input-group">
											  	<input type="number" class="form-control" placeholder="Min Run" ng-model="match.sessionStatusOne" key-enter="updateSession()"  ng-blur="updateSession()" ng-change="updateSession()"/>
											</div>
										</div>
										
										<div class="col-xs-3">
											<p><small><b>Session Max Score</b></small></p>	
											<div class="input-group">
											  
											  	<input type="number" class="form-control" placeholder="Max Run" ng-model="match.sessionStatusTwo"  ng-blur="updateSession()"  key-enter="updateSession()"  ng-change="updateSession()"/>
											  
											</div>
										</div>
										<div class="col-xs-4">
											<p><small><b>Session Over</b></small></p>	
											<div class="input-group ">
											  
											  	<input type="text" class="form-control" placeholder="Over" ng-model="match.sessionOver" key-enter="updateSession()"  ng-blur="updateSession()"  ng-change="updateSession()"/>
											  
											</div>
										</div>
										<div class="col-xs-2">
											<p><small>&nbsp;</small></p>	
											<button type="button" class="btn btn-success btn-xs" ng-click="updateSession()">&nbsp;<i class="fa fa-upload"></i>&nbsp;</button>
										</div>
									</div>
							</td>
						</tr>

						<!--<tr>
							<td>
								<div class="row">
										<div class="col-xs-5">
											<p><small><b>Session Run</b></small></p>	
											<div class="input-group ">
											  
											  	<input type="text" class="form-control" placeholder="Run Required" ng-model="match.runXBallOne"  key-enter="updateRunXBall()"  ng-blur="updateRunXBall()"  ng-change="updateRunXBall()"/>
											  
											</div>
										</div>	
										<div class="col-xs-5">
											<p><small><b>Session Ball</b></small></p>	
											<div class="input-group">
											  
											  	<input type="text" class="form-control" placeholder="Ball Left" ng-model="match.runXBallTwo"  key-enter="updateRunXBall()"  ng-blur="updateRunXBall()"  ng-change="updateRunXBall()"/>
											  
											</div>
										</div>
										<div class="col-xs-2">
											<p><small>&nbsp;</small></p>	
											<button type="button" class="btn btn-success btn-xs" ng-click="updateRunXBall()">&nbsp;<i class="fa fa-upload"></i>&nbsp;</button>
										</div>
									</div>
							</td>
						</tr>-->
					</table>
					<table class="table m-table table-bordered table-hover table-heading">
						<tr>
							<td>
								<div id="ow-summary" class="row">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12">
												<div class="row">
													<div class="col-xs-6">Score
														<b ng-if="match.playing == match.battingTeam">{{match.battingScore}}/{{match.battingWickets}}</b>
														<b ng-if="match.playing == match.bowlingTeam">{{match.bowlingScore}}/{{match.bowlingWickets}}</b>
													</div>
													<div class="col-xs-6">Target<b>{{match.target}}</b></div>
												</div>
												<div class="row">
													<div class="col-xs-6" ng-repeat="batsman in batsmanList track by $index" ng-class="{'onStrike' : (match.onStrike.toUpperCase() == batsman.name.toUpperCase()), 'out' : (batsman.status == 'out')}" ng-click="currentlyBatting(batsman)">{{batsman.name}} <b>({{batsman.run}} / {{batsman.ball}})</b></div>
												</div>
												<div class="row">
													<div class="col-xs-6">{{(bowler1 && bowler1 != "0") ? bowler1 : 'Bowler'}}<b>--</b></div>
													<div class="col-xs-6">Run Rate<b>{{match.currentRunRate}}</b></div>
												</div>

												<div class="row" ng-show="(match.inning == 2)">
													<div class="col-xs-6">Required Run<b>{{(requiredRun) ? requiredRun : '--'}}</b></div>
													<div class="col-xs-6">R. Run Rate<b>{{match.requiredRunRate}}</b></div>
												</div>
											</div>
										</div>
									</div>
								</div>
									
							</td>
						</tr>	
						<tr>
							<td>
								<div id="ow-summary" class="row">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12">
												<div class="row">
													<div class="col-xs-6">Marker Rate<b>{{match.markerRateOne}}</b></div>
													<div class="col-xs-6">Marker Rate<b>{{match.markerRateTwo}}</b></div>
												</div>
												<div class="row">
													<div class="col-xs-6">Session Over<b>{{match.sessionOver}}</b></div>
													<div class="col-xs-6">Session Run<b>{{match.sessionStatusOne}} - {{match.sessionStatusTwo}} </b></div>
												</div>
												<div class="row">
													<div class="col-xs-6">Run Required<b>{{match.runXBallOne}}</b></div>
													<div class="col-xs-6">Balls Left<b>{{match.runXBallTwo}}</b></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								
								<div class="row">
									<div class="col-xs-12">
											<div class="action-ball-section" align="center">
												<button type="button"  ng-repeat="ballStatus in previousBall track by $index" class="btn btn-primary btn-app-sm btn-circle" style="margin: 4px;text-align: center">
													<b style="color:yellow;">{{ballStatus}}</b>
												</button>
											</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-xs-10">
										<p><small>Live Message</small></p>	
										<textarea class="form-control" ng-model="match.localDescription"></textarea>
									</div>
									<div class="col-xs-2">
										<p><small>&nbsp;</small></p>	
										<button type="button" class="btn btn-success btn-xs" ng-click="updateLiveMessage(match.localDescription)">&nbsp;<i class="fa fa-upload"></i>&nbsp;</button>
									</div>
								</div>
									
							</td>
						</tr>
						<tr ng-show="isValidTarget(team.target)">
							<td>
								<div class="row">
									<div class="col-xs-5">
										<p><small>D/L Modified Score</small></p>	
										<input type="text" class="form-control" ng-model="modifiedScore" />
									</div>
									<div class="col-xs-5">
										<p><small>D/L Modified Overs</small></p>	
										<input type="text" class="form-control" ng-model="modifiedOvers" />
									</div>
									<div class="col-xs-2">
										<p><small>&nbsp;</small></p>	
										<button type="button" class="btn btn-success btn-xs" ng-click="updateDLscore()">&nbsp;<i class="fa fa-upload"></i>&nbsp;</button>
									</div>
								</div>
							</td>
						</tr>
				</table>
				
				</div>		
			</div>
		</div>
		<!--End Dashboard Tab 1-->
	</div>
	<div class="clearfix"></div>
</div>
<!--End Dashboard 2 -->
<div style="height: 40px;"></div>
<script type="text/javascript">
// Array for random data for Sparkline
var sparkline_arr_1 = SparklineTestData();
var sparkline_arr_2 = SparklineTestData();
var sparkline_arr_3 = SparklineTestData();
$(document).ready(function() {
	// Make all JS-activity for dashboard
	DashboardTabChecker();
	// Load Knob plugin and run callback for draw Knob charts for dashboard(tab-servers)
	LoadKnobScripts(DrawKnobDashboard);
	// Load Sparkline plugin and run callback for draw Sparkline charts for dashboard(top of dashboard + plot in tables)
	LoadSparkLineScript(DrawSparklineDashboard);
	// Load Morris plugin and run callback for draw Morris charts for dashboard
	LoadMorrisScripts(MorrisDashboard);
	// Load Springy plugin and run callback for draw network map for dashboard
	LoadSpringyScripts(SpringyNetmap);
	// Make beauty hover in table
	$("#ticker-table").beautyHover();
	// Run script for stock block
	CreateStockPage();
});
</script>
