<div ng-controller="HomeController">
	<div class="row" style="height:20px;"></div>
	<div class="row" align="center">
		<div class="col-md-4"></div>
		<div class="col-md-4"><h2>Select Team</h2></div>
	</div>
	<div class="row" style="height:20px;"></div>
	<div class="row" align="center">
		<div class="col-md-4"></div>
		<div class="col-md-4 action-ball-section">
			<button type="button" class="btn btn-app-sm btn-circle btn-default" ng-class="{'btn btn-app-sm btn-circle btn-primary' : (match.overs == 20), 'btn btn-app-sm btn-circle fa-default' : (match.overs != 20)}" ng-click="selectMatchType(20)">
					T20
			</button>
			&nbsp;
			<button type="button" class="btn btn-app-sm btn-circle btn-default" ng-class="{'btn btn-app-sm btn-circle btn-primary' : (match.overs == 50), 'btn btn-app-sm btn-circle btn-default' : (match.overs != 50)}" ng-click="selectMatchType(50)">
					50
			</button>
			&nbsp;
			<button type="button" class="btn btn-app-sm btn-circle btn-default" ng-class="{'btn btn-app-sm btn-circle btn-primary' : (match.overs == 90), 'btn btn-app-sm btn-circle btn-default' : (match.overs != 90)}" ng-click="selectMatchType(90)">
					Test
			</button>
		</div>
	</div>
	<div class="row" align="center">
		<div class="col-md-4" style="text-align: right"><b>Team 1</b></div>
	 	<div class="col-md-4">
			<select class="form-control" ng-model="inning.team1">
				<option ng-repeat="team1 in firstTeam track by team1.id" value="{{team1.name}}">{{team1.name}}</option>
			</select>
	    </div>
	    <div class="col-md-4">
	    	<button  ng-class="{'btn-primary' : (inning.batting && inning.batting == 'team1')}" class="btn btn-default" type="button" ng-click="changeSelection('team1', 'batting')"><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span>  Batting</button>
	    	<button  ng-class="{'btn-primary' : (inning.bowling && inning.bowling == 'team1')}" class="btn btn-default" type="button" ng-click="changeSelection('team1', 'bowling')"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> Bowling</button>
	    </div>
	    
	</div>
	<div class="row" style="height:20px;"></div>
	<div class="row"  align="center">  
		<div class="col-md-4" style="text-align: right"><b>Team 2</b></div>
		<div class="col-md-4">
		    <select class="form-control" ng-model="inning.team2">
		    	<option ng-repeat="team2 in secondTeam  track by team2.id" value="{{team2.name}}">{{team2.name}}</option>
		    </select>
	    </div>
	    <div class="col-md-4">
	    	<button ng-class="{'btn-primary' : (inning.batting && inning.batting == 'team2')}" class="btn btn-default" type="button" ng-click="changeSelection('team2', 'batting')"><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span> Batting</button>
	    	<button ng-class="{'btn-primary' : (inning.bowling && inning.bowling == 'team2')}" class="btn btn-default" type="button" ng-click="changeSelection('team2', 'bowling')"><span class="glyphicon glyphicon-adjust" aria-hidden="true"></span> Bowling</button>
	    </div>
	</div>
	<div class="row" style="height:50px;"></div>
	<div class="row" align="center">
		<button class="btn btn-primary" type="button" ng-disabled="disableStartButton" ng-click="startMatch()">Let's Start</button>
		<a ng-show="previousMatchFlag" ng-href="#/match"><button class="btn btn-primary" type="button">Resume Match</button></a>
	</div>
	<div class="row" style="height:10px;"></div>
	<div>
		<div class="col-md-4" style="width: 30% !important;">&nbsp;</div>
		<div class="col-md-2" align="center">
			<img class="cric-logo" ng-src="{{getTeamLog('team1')}}" />
		</div>
		<div class="col-md-1" align="center" style="padding-top:60px;"><h2>&nbsp;VS</h2></div>
		<div class="col-md-2" align="center">
			<img class="cric-logo" ng-src="{{getTeamLog('team2')}}" />
		</div>
	</div>
</div>
