<div ng-controller="MatchController">
	<div class="row" style="height:20px;">
		<div align="center">
			<h2>{{message}}</h2>
		</div>
	</div>

	<div ng-if="showLoader" style="position:absolute;width:100%;z-index:2000;top:60px;">
		<div align="center">
			<div>Uploading...</div>
			<img src="/images/ajax-loader.gif" />
		</div>
	</div>
	<div class="row" align="center">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div class="col-md-8" style="float: right">
				<div class="col-md-3"><span ng-class="{'glyphicon-ice-lolly' : (match.playing == match.battingTeam), 'glyphicon-adjust' : (match.playing != match.battingTeam) }" class="glyphicon" aria-hidden="true" style="margin-top: 30px;position:absolute;" ></span></div> 
				<div class="col-md-6">
					<h2 ng-show="match.battingTeam">{{match.battingTeam}}</h2>
					<div class="row">
						<div class="col-md-6" style="float: left">
							<b>{{match.battingScore}}/{{match.battingWickets}}</b>
						</div>
						<div class="col-md-6" style="float: right">
							<b>{{match.battingOver}}</b>
						</div>
					</div>
				</div>
				<div class="col-md-3"><span class="glyphicon glyphicon-king" aria-hidden="true"  style="margin-top: 30px;position:absolute;" ng-class="{'favourite' : (match.battingTeam | isFavourate : match.favouriteTeam), 'not-favourite' : !(match.battingTeam | isFavourate : match.favouriteTeam)}" ng-click="updateFavourite(match.battingTeam)"></span></div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-8" style="float: left">
				<div class="col-md-3"><span ng-class="{'glyphicon-ice-lolly' : (match.playing == match.bowlingTeam), 'glyphicon-adjust' : (match.playing != match.bowlingTeam) }"  class="glyphicon" aria-hidden="true"  style="margin-top: 30px;position:absolute;"></div> 
				<div class="col-md-6">
					<h2 ng-show="match.bowlingTeam">{{match.bowlingTeam}}</h2>
					<div class="row">
						<div class="col-md-6">
							<b>{{match.bowlingScore}}/{{match.bowlingWickets}}</b>
						</div>
						<div class="col-md-6">
							<b>{{match.bowlingOver}}</b>
						</div>
					</div>
				</div>
				<div class="col-md-3"><span class="glyphicon glyphicon-king" aria-hidden="true"  style="margin-top: 30px;position:absolute;"  ng-class="{'favourite' : (match.bowlingTeam | isFavourate : match.favouriteTeam), 'not-favourite' : !(match.bowlingTeam | isFavourate : match.favouriteTeam)}" ng-click="updateFavourite(match.bowlingTeam)"></div>
			</div>
		</div>
		<div class="col-md-2"><h2></h2></div>
	</div>
	<div>
		<div class="col-md-8">
			<table class="table table-bordered">
				<tr>
					<td><b>Run Scored</b></td>
					<td>
						<div class="row">
							<div class="col-md-3">
								<span class="glyphicon glyphicon-minus-sign" style="float:right"></span>
							</div>
							<div class="col-md-6">
								<input class="form-control" type="text" name="score" ng-model="match.score"/>
							</div>
							<div class="col-md-3">
								<span class="glyphicon glyphicon-plus-sign"  style="float:left"></span>
							</div>
						</div>
						<div>&nbsp;</div>
						<div class="row">
							<div class="col-md-3" align="center">
								<div class="btn-group" role="group" aria-label="...">
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'ball')}" ng-click="updateStatus('ball')">Ball</button>

								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'inAir')}" ng-click="updateStatus('inAir')">Ball In Air</button>
								</div>
							</div>
							<div class="col-md-9" align="center">
								<div class="btn-group" role="group" aria-label="...">
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'Wicket')}" ng-click="updateRun('Wicket')">Wicket</button>
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'Wide')}" ng-click="updateRun('Wide')">Wide Ball</button>
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : (selectedButton == 'No')}" ng-click="updateRun('No')">No Ball</button>
								  <button type="button" ng-class="{'btn-primary' : (selectedButton == 'Four')}"  class="btn btn-default" ng-click="updateRun('Four')">Four</button>
								  <button type="button" ng-class="{'btn-primary' : (selectedButton == 'Six')}"  class="btn btn-default" ng-click="updateRun('Six')">Six</button>
							
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : activateUpdateButton}" ng-click="updateRun('Update')">Upload</button>
								  <button type="button" class="btn btn-default" ng-class="{'btn-primary' : activateUpdateButton}" ng-click="updateRun('Revert')">Revert</button>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td><b>Previous Balls</b></td>
					<td>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6"><span ng-repeat="ballStatus in previousBall track by $index" class="badge">{{ballStatus}}</span></div>
							<div class="col-md-3"></div>
						</div>
						<div>&nbsp;</div>
					</td>
				</tr>
				<tr>
					<td><b>Total Score</b></td>
					<td>
						<div class="row">
							<div class="col-md-3"><span class="glyphicon glyphicon-minus-sign" style="float:right" ng-click="substract('score')"></span></div>
							<div class="col-md-6">
								<input ng-if="match.playing == match.battingTeam" class="form-control" type="text" name="score" ng-model="match.battingScore"/>

								<input ng-if="match.playing == match.bowlingTeam" class="form-control" type="text" name="score" ng-model="match.bowlingScore"/></div>
							<div class="col-md-3"><span class="glyphicon glyphicon-plus-sign"  style="float:left" ng-click="add('score')"></span></div>
						</div>
						
					</td>
				</tr>
				<tr>
					<td><b>Total Over ({{(match.playing == match.battingTeam) ? match.battingOver : match.bowlingOver}})</b></td>
					<td>
						<div class="row">
							<div class="col-md-3"><span class="glyphicon glyphicon-minus-sign" style="float:right" ng-click="substract('balls')"></span></div>
							<div class="col-md-6"><input class="form-control" type="text" name="overs" ng-model="balls"/></div>
							<div class="col-md-3"><span class="glyphicon glyphicon-plus-sign"  style="float:left" ng-click="add('balls')"></span></div>
						</div>
						
					</td>
				</tr>
				<tr>
					<td><b>Total Wicket</b></td>
					<td>
						<div class="row">
							<div class="col-md-3"><span class="glyphicon glyphicon-minus-sign" style="float:right" ng-click="substract('wickets')"></span></div>
							<div class="col-md-6">
								<input ng-if="match.playing == match.battingTeam" class="form-control" type="text" name="wickets" ng-model="match.battingWickets"/>

								<input ng-if="match.playing == match.bowlingTeam" class="form-control" type="text" name="wickets" ng-model="match.bowlingWickets"/>
							</div>
							<div class="col-md-3">
								<span class="glyphicon glyphicon-plus-sign"  style="float:left" ng-click="add('wickets')"></span>
							</div>
						</div>
						
					</td>
				</tr>

				<tr>
					<td><b>Batting</b></td>
					<td>
						<div class="row" style="padding:5px 10px 5px 10px;">
							<span style="margin-left:5px" ng-repeat="batsman in batsmanList track by $index" class="badge" ng-class="{'onStrike' : (match.onStrike.toUpperCase() == batsman.name.toUpperCase()), 'out' : (batsman.status == 'out')}" ng-click="currentlyBatting(batsman)">{{batsman.name}} - ({{batsman.run}} / {{batsman.ball}})</span>
						</div>
						<div class="row">
							<div class="col-md-5">
								<input class="form-control" type="text" style="width: 40%;display: inline;" ng-model="batsman1"/>
								<input class="form-control" type="text" style="width: 25%;display: inline;" ng-model="batsman1Run"/>
								<input class="form-control" type="text" style="width: 25%;display: inline;" ng-model="batsman1Ball"/>
							</div>
							<div class="col-md-1">
								<span class="glyphicon glyphicon-ok"  style="float:left" ng-click="addBatsman('batsman1', 0)"></span>
							</div>
							<div class="col-md-5">
								<input class="form-control" type="text" style="width: 40%;display: inline;"ng-model="batsman2"/>
								<input class="form-control" type="text" style="width: 25%;display: inline;" ng-model="batsman2Run"/>
								<input class="form-control" type="text" style="width: 25%;display: inline;" ng-model="batsman2Ball"/>
							</div>
							<div class="col-md-1">
								<span class="glyphicon glyphicon-ok"  style="float:left" ng-click="addBatsman('batsman2', 1)"></span>
							</div>
						</div>
						
					</td>
				</tr>

				<tr>
					<td><b>Bowling</b></td>
					<td>
						<div class="row" style="padding:5px 10px 5px 10px;">
							<span style="margin-left:5px" ng-repeat="bowler in bowlerList track by $index" class="badge" ng-class="{'onBowling' : (onBowling.toUpperCase() == bowler.name.toUpperCase())}"  ng-click="currentlyBowling(bowler)">{{bowler.name}}</span>
						</div>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<input class="form-control" type="text" name="bowler" ng-model="bowler1"/>
							</div>
							<div class="col-md-3">
								<span class="glyphicon glyphicon-ok"  style="float:left" ng-click="addBowler('bowler1')"></span>
							</div>
						</div>
						
					</td>
				</tr>
			</table>
		</div> 
		<div class="col-md-4">
			<table class="table table-bordered">
				<tr>
					<td><b>Market Rate</b></td>
					<td>
						<div class="row">
							<div class="col-md-5">
								<input class="form-control" type="text" name="marketRate1" ng-model="match.markerRateOne"/>
							</div>
							<div class="col-md-5">
								<input class="form-control" type="text" name="marketRate2" ng-model="match.markerRateTwo"/>
							</div>
							<div class="col-md-2">
								<button class="btn  btn-xs btn-primary" ng-click="updateMarketRate()">OK</button>
							</div>
						</div>
						
					</td>
				</tr>
				<tr>
					<td><b>Session</b></td>
					<td>
						<div class="row">
							<div class="col-md-3">
								<input class="form-control" type="text" name="marketRate1" ng-model="match.sessionOver"/>
							</div>
							<div class="col-md-3">
								<input class="form-control" type="text" name="marketRate2" ng-model="match.sessionStatusOne"/>
							</div>
							<div class="col-md-3">
								<input class="form-control" type="text" name="marketRate1" ng-model="match.sessionStatusTwo"/>
							</div>
							<div class="col-md-2">
								<button class="btn btn-xs btn-primary" ng-click="updateSession()">OK</button>
							</div>
						</div>
						
					</td>
				</tr>
				<tr>
					<td><b>Run X Ball</b></td>
					<td>
						<div class="row">
							<div class="col-md-5">
								<input class="form-control" type="text" name="marketRate1" ng-model="match.runXBallOne"/>
							</div>
							<div class="col-md-5">
								<input class="form-control" type="text" name="marketRate2" ng-model="match.runXBallTwo"/>
							</div>
							
							<div class="col-md-2">
								<button class="btn btn-xs btn-primary" g-click="updateRunXBall()"> OK </button>
							</div>
						</div>
						
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="clear"></div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<button class="btn btn-primary" ng-disable="disableFinishButton" type="button" ng-click="finishInning()">Finish Inning</button>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>